server:
  port: 8080

spring:
  application:
    name: api-gateway-service

  cloud:
    gateway:
      server:
        webflux:
          default-filters:
            - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
          routes:
            # user microservice
            - id: user-service
              uri: http://localhost:8081
              predicates:
                - Path=/auth/**

            # transaction microservice
            - id: transaction-service
              uri: http://localhost:8082
              predicates:
                - Path=/api/transactions/**

            # reward service
            - id: reward-service
              uri: http://localhost:8085
              predicates:
                - Path=/api/rewards/**

            # notification service
            - id: notification-service
              uri: http://localhost:8084
              predicates:
                - Path=/api/notifications/**
